/** @type {import('tailwindcss').Config} */
module.exports = {
  content: [
    "./src/**/*.{js,ts,jsx,tsx}", // busca clases en todo lo que esté dentro de /src
  ],
  theme: {
    extend: {
      colors: {
        brand: "#e79c00", // tu color dorado personalizado
      },
    },
  },
  plugins: [],
};
